<li>
  <% if user_signed_in? %>
    <%= link_to "^", upvote_post_path(post), method: :patch unless current_user.upvoted?(post) %>
  <% else %>
    <%= link_to "^", upvote_post_path(post), method: :patch %>
  <% end %>
  <%= link_to post.title, post.link_url %></li>
<span><%= post.votes_count %> points by <%= post.user.name %> <%= link_to "| unvote ", upvote_post_path(post), method: :patch if user_signed_in? && current_user.upvoted?(post) %>| <%= post.comments.count %> <%= link_to 'comments', post_path(post) %></span>
